body {
    background: url("../img/3.jpg") no-repeat fixed center;
    background-color: rgba(0,0,0,0.6);
    font-family: sans-serif;
    margin: 0 auto;
    width: 1024px;
    background-size: 100%;
}
.bodypart
{
    margin: 10px auto;
    width: 1024px;
    //background-size: 1040px auto;
    //background-color: #cccccc;
}
.list ul {
    list-style-type: none;
    margin: 10px;
    padding:10px;
    overflow: hidden;
    background-color: #333333;
}

.list li {
    float: left;
}

.list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.list li a:hover {
    background-color: #111111;
}
h1{
	text-align:center;
}
h2 {
    text-decoration: underline;
}
.part1, .part2, .bodypart h1, .content-holder
{
    color: white;
}
.content-holder
{
    padding: 20px;
}
.link, a.link:active, a.link:focus
{
    font-weight: 600;
    color: white !important;
}
.content-holder .imageslist span a img
{
    width: 370px;
    height: 245px;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}
span.imgWrap {
    font-weight: 600;
}
.imageslist
{
    background-color: #7c7f82;
    padding: 10px;
}
tr {
    width: 100px;
    height: 120px;
    margin: 10px;
    float: right;
}
tr img {
    width: 100px;
    height: 120px;
    float: right;
}
.gallerylist ul
{
    /*width: 100px;
    height: 120px;
    margin: 10px;
    float: right;*/
    list-style-type: none;
}
.gallerylist ul img
{
    width: 100px;
    height: 120px;
    margin: 10px;
    float: right;
}
#success_msg
{
    color: white;
    margin-left: 10px;
    font-weight: 600;
}